body {
    
}

#banner_cinturaodeabelhas_fotoMatheusMelo {
    width:100%;
}

.principal {
    background: #FFFFE0;
    padding: 30px;
}
h1 {
   background:  #FFFF00;
   padding-left: 20px;
}
h2 {
    text-align: center;
}
p {
   text-align: center;
    style="font-size: 20px;
}

p

.itens {
   font-style: italic;
}

.indice {
    background-color: #FFFFFF;
    padding: 20px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
h3 {
    text-align: center;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.imagemindice {
    width: 50%;
}