body {
    background: #FFFFE0;
}

#banner_cinturaodeabelhas_fotoMatheusMelo {
    width: 100%;
    height: 130px;
}

h1 {
    text-align: center; background: #FFFF00;
}
p {
    style="font-size: 20px;
}

p {
    text-align: center
}