body {
    
}

#banner_cinturaodeabelhas_fotoMatheusMelo {
    width:100%;
}

.principal {
    background: #FFFFE0;
    padding: 30px;
}

h1 {
    text-align: center; background: #FFFF00;
}
p {
    style="font-size: 20px;
}

p {
    text-align: center;
}

.itens {
   font-style: italic;
}

.indice {
    background-color: #FFFFFF;
    padding: 20px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
h2 {
    text-align: center;
}

.imagemindice {
    width: 50%;
}